@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$primary-color: #2563EB;
$secondary-color: #F97316;
$tertiary-color: #14B8A6;
$header-familly: bold ; 
$font-main: 'Roboto', sans-serif;
$text-header-color:#b2b2b2;
$shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
.home{
  background: #fff;
  box-shadow: $shadow;
}
.connect{
    display: flex;
    .h2{
      font-family: $font-main;
      color: $text-header-color;
    }
    .insta{
    a{
      img{
        width: 5%;
        height: 5%;
      }
    }
} 
}
img{
    width: 5%;
}